<%= form_with(model: task, url: [@project, task]) do |form| %>
  <%= render partial: "layouts/validation", locals: { record: task } %>

  <div class="form-group mb-3">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group mb-3">
    <%= form.label :description, class: "form-label" %>
    <%= form.text_field :description, class: "form-control" %>
  </div>

  <div class="form-group mb-3">
    <%= form.label :user_id, class: "form-label" %>
    <%= form.select :user_id, User.all.collect {|u| [u.username.capitalize, u.id] }, {}, class: "form-control" %>
  </div>

  <div class="form-group mb-3">
    <%= form.label :status, class: "form-label" %>
    <%= form.select :status, options_for_select(Task.statuses.keys.map{|s| [s.titleize, s]}, task.status), {}, class: "form-control" %>
  </div>

  <div class="form-group mb-3">
    <%= form.submit "Save Task", class: "btn btn-success" %>
  </div>
<% end %>
