<div class="row">
  <div class="col-12 col-md-8">
    <div id="project-details">
      <h1><%= @project.name %></h1>
      <%= simple_format @project.description %>

      <p>
        <%= link_to "Edit this project", edit_project_path(@project), class: "text-muted" %> |
        <%= link_to "Back to projects", projects_path, class: "text-muted" %>
      </p>
    </div>

    <div class="bg-light mt-5 p-4 rounded">
      <%= link_to "New Task", new_project_task_path(@project), data: { turbo_frame: "modal" }, class: "btn btn-primary float-end" %>
      <h2>Project Tasks</h2>
    </div>
    <div id="tasks">
      <% @project.tasks.each do |task| %>
        <%= render task %>
      <% end %>
    </div>
  </div>
  <div class="col-12 col-md-4">
    <h2>Summary</h2>
    <%= render partial: "projects/summary", locals: { project: @project } %>
  
    <h2>Team Members</h2>
    <p><small><%= pluralize(@users.size, "users") %> have access to this project</small></p>
    <ul>
      <% @users.each do |user| %>
        <li><%= user.username.capitalize %></li>
      <% end %>
    </ul>

    <%= link_to "Delete Project", @project, class: "btn btn-outline-danger", data: { turbo_confirm: "Are you sure you want to delete this project?", turbo_method: :delete } %>
  </div>
</div>